*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }

html { height: 100%; font-size: 62.5%; }

body { font-family: 'Poppins', sans-serif; }

:root { --text-color: #041629; --alt-text-color: #71787e; --bg-color: #f2f7fb; --alt-bg-color: #ffffff; --special-bg-color: #f5f6f8; --accent-color: #04d361; --accent-color-hover: #50df90; --contrast-color: #0a98ff; --contrast-color-hover: #7ab8ff; --vote-bg-color: #d6ffe8; --vote-bg-color-hover: #adf7cd; }

:root.moon { --text-color: #ffffff; --alt-text-color: #71787e; --bg-color: #24292e; --alt-bg-color: #2f363d; --special-bg-color: #363d45; --accent-color: #0a98ff; --accent-color-hover: #7ab8ff; --contrast-color: #04d361; --contrast-color-hover: #50df90; --vote-bg-color: #294254; --vote-bg-color-hover: #47708d; }

:root.rocket { --text-color: #ffffff; --alt-text-color: #475058; --bg-color: #0d0d0f; --alt-bg-color: #121214; --special-bg-color: #1b1b1f; --accent-color: #8257e5; --accent-color-hover: #a47dff; --contrast-color: #04d361; --contrast-color-hover: #50df90; --vote-bg-color: #2a2438; --vote-bg-color-hover: #3d315a; }

nav { background: var(--alt-bg-color); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; width: 100%; height: 8vh; }

nav #logo-container { width: 15%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

nav #logo-container a, nav #logo-container #logo { height: 8vh; }

nav #nav-util-container { width: 70%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

nav #nav-util-container #feed-related-container { width: 40%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; }

nav #nav-util-container #feed-related-container .fa-globe-americas, nav #nav-util-container #feed-related-container .fa-home { font-size: 2.6rem; }

nav #nav-util-container #feed-related-container .fa-globe-americas { color: var(--contrast-color); }

nav #nav-util-container #feed-related-container .fa-chevron-down, nav #nav-util-container #feed-related-container .fa-chevron-up { font-size: 1.8rem; margin-left: .5rem; }

nav #nav-util-container #feed-related-container .fa-chevron-up { display: none; }

nav #nav-util-container #feed-related-container #feed-button { background: none; outline: none; border: none; -webkit-transition: color 0.5s; transition: color 0.5s; }

nav #nav-util-container #feed-related-container #feed-button:hover { cursor: pointer; -webkit-transition: color 0.5s; transition: color 0.5s; color: var(--contrast-color); }

nav #nav-util-container #feed-related-container #communities-button { background: none; outline: none; border: none; color: var(--alt-text-color); -webkit-transition: color 0.5s; transition: color 0.5s; }

nav #nav-util-container #feed-related-container #communities-button:hover { color: var(--contrast-color); -webkit-transition: color 0.5s; transition: color 0.5s; cursor: pointer; }

nav #nav-util-container #search-container { background-color: var(--special-bg-color); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 30%; height: 6vh; border-radius: 1rem; margin: auto; }

nav #nav-util-container #search-container #search-input { font-family: 'Poppins', sans-serif; font-size: 1.8rem; font-weight: 600; border: none; outline: none; background: none; color: var(--text-color); width: 70%; margin: auto; margin-left: 2rem; }

nav #nav-util-container #search-container ::-webkit-input-placeholder { color: var(--alt-text-color); }

nav #nav-util-container #search-container :-ms-input-placeholder { color: var(--alt-text-color); }

nav #nav-util-container #search-container ::-ms-input-placeholder { color: var(--alt-text-color); }

nav #nav-util-container #search-container ::placeholder { color: var(--alt-text-color); }

nav #nav-util-container #search-container #search-button { background: none; outline: none; border: none; color: var(--alt-text-color); -webkit-transition: color 0.5s; transition: color 0.5s; }

nav #nav-util-container #search-container #search-button .fa-search { font-size: 2.4rem; margin-left: 3rem; }

nav #nav-util-container #search-container #search-button:hover { color: var(--contrast-color); -webkit-transition: color 0.5s; transition: color 0.5s; cursor: pointer; }

nav #nav-util-container #action-buttons-container { width: 40%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

nav #nav-util-container #action-buttons-container button { border: none; outline: none; background: var(--accent-color); -webkit-transition: background 0.5s; transition: background 0.5s; color: var(--alt-bg-color); font-family: 'Poppins', sans-serif; font-size: 1.8rem; font-weight: bold; border-radius: 1rem; letter-spacing: .1rem; height: 6vh; width: 10vw; }

nav #nav-util-container #action-buttons-container #login-button { background: transparent; -webkit-transition: background 0.5s, color 0.5s, border 0.5s; transition: background 0.5s, color 0.5s, border 0.5s; color: var(--text-color); border: 0.4rem solid var(--accent-color); margin-right: 1rem; display: none; }

nav #nav-util-container #action-buttons-container #login-button:hover { background: var(--accent-color-hover); -webkit-transition: background 0.5s, color 0.5s, border 0.5s; transition: background 0.5s, color 0.5s, border 0.5s; color: var(--alt-bg-color); border: 0.4rem solid var(--accent-color-hover); cursor: pointer; }

nav #nav-util-container #action-buttons-container #sign-up-button { display: none; }

nav #nav-util-container #action-buttons-container button:hover { background: var(--accent-color-hover); -webkit-transition: background 0.5s; transition: background 0.5s; cursor: pointer; }

nav #user-related-container { width: 15%; height: 100%; display: none; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

nav #user-related-container .user-picture { vertical-align: middle; width: 4.8rem; height: 4.8rem; border-radius: 100%; }

nav #user-related-container .user-options-button { background: none; outline: none; border: none; }

nav #user-related-container .user-options-button .fa-chevron-down, nav #user-related-container .user-options-button .fa-chevron-up { font-size: 2.2rem; color: var(--alt-text-color); -webkit-transition: color 0.5s; transition: color 0.5s; margin-left: 1rem; }

nav #user-related-container .user-options-button .fa-chevron-up { display: none; }

nav #user-related-container .user-options-button .fa-chevron-down:hover, nav #user-related-container .user-options-button .fa-chevron-up:hover { color: var(--contrast-color); -webkit-transition: color 0.5s; transition: color 0.5s; cursor: pointer; }

body { background: var(--bg-color); }
/*# sourceMappingURL=community.css.map */