*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }

*::-webkit-scrollbar { width: 1.2rem; }

::-webkit-scrollbar-thumb { background-color: #49494a; border-radius: 2.0rem; border: 0.3rem solid var(--alt-bg-color); }

::-webkit-scrollbar-thumb:hover { background-color: #383838; }

::-webkit-scrollbar-track { background: transparent; }

html { height: 100%; font-size: 62.5%; }

body { font-family: 'Poppins', sans-serif; }

:root.solar { --text-color: #041629; --alt-text-color: #71787e; --bg-color: #dae7f1; --alt-bg-color: #ffffff; --special-bg-color: #f5f6f8; --shadow-bg-color: #bdc1c3; --accent-color: #04d361; --accent-color-hover: #50df90; --contrast-color: #0a98ff; --contrast-color-hover: #7ab8ff; --vote-bg-color: #d6ffe8; --vote-bg-color-hover: #adf7cd; --modal-label-color: #232323; }

:root.moon { --text-color: #ffffff; --alt-text-color: #71787e; --bg-color: #24292e; --alt-bg-color: #2f363d; --special-bg-color: #363d45; --shadow-bg-color: #3e4747; --accent-color: #0a98ff; --accent-color-hover: #7ab8ff; --contrast-color: #04d361; --contrast-color-hover: #50df90; --vote-bg-color: #294254; --vote-bg-color-hover: #47708d; --modal-label-color: #a0a0a0; }

:root.rocket { --text-color: #ffffff; --alt-text-color: #475058; --bg-color: #0d0d0f; --alt-bg-color: #121214; --special-bg-color: #1b1b1f; --shadow-bg-color: #2a2a2a; --accent-color: #8257e5; --accent-color-hover: #a47dff; --contrast-color: #04d361; --contrast-color-hover: #50df90; --vote-bg-color: #2a2438; --vote-bg-color-hover: #3d315a; --modal-label-color: #a0a0a0; }

.modal { width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: 1; overflow: hidden; background: #0009; display: none; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.modal .modal-container { background: var(--alt-bg-color); border-radius: 2rem; width: 76.8rem; min-width: 30rem; height: 64.8rem; min-height: 15rem; padding: 2rem; position: relative; -webkit-transition: background 0.25s, color 0.25s; transition: background 0.25s, color 0.25s; }

.modal .modal-container .close-button { position: absolute; top: 3%; right: 3%; z-index: 10; background: none; border: none; outline: none; font-size: 36px; font-weight: bold; cursor: pointer; color: var(--shadow-bg-color); -webkit-transition: color 0.5s; transition: color 0.5s; }

.modal .modal-container .close-button:hover { color: #ee5555; -webkit-transition: color 0.5s; transition: color 0.5s; }

.modal .modal-container .modal-separator { width: 4px; height: 70%; border-radius: 5px; background: var(--shadow-bg-color); }

.modal .modal-container .modal-separator.hide { display: none; }

.modal .modal-container .text-input-container { height: 50px; width: 90%; color: var(--text-color); background: transparent; border: 3px solid var(--shadow-bg-color); border-radius: 7.5px; font-size: 18px; padding: 5px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; -webkit-transition: border 0.5s; transition: border 0.5s; }

.modal.show { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media screen and (max-width: 960px) { .modal-container { width: 95% !important; height: 80% !important; }
  .modal-container .modal-separator { display: none; } }

#logon-modal-container { position: relative; }

#logon-modal-container #logon-modal-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 100%; position: absolute; bottom: 0; left: 0; }

#logon-modal-container #logon-modal-content #about-container { width: 50%; height: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#logon-modal-container #logon-modal-content #about-container #logon-modal-logo-container { width: 300px; height: 100px; }

#logon-modal-container #logon-modal-content #about-container #logon-modal-logo-container img { width: 100%; height: 100%; }

#logon-modal-container #logon-modal-content #about-container.hide { display: none; }

#logon-modal-container #logon-modal-content #logon-related-container { width: 50%; height: 80%; position: relative; padding: 3.5rem; padding-bottom: 0; }

#logon-modal-container #logon-modal-content #logon-related-container #logon-label { color: var(--text-color); font-size: 2rem; font-weight: 500; }

#logon-modal-container #logon-modal-content #logon-related-container .logon-instructions-label { color: var(--modal-label-color); font-size: 1.75rem; font-weight: bold; letter-spacing: 0.5px; }

#logon-modal-container #logon-modal-content #logon-related-container input[type="text"], #logon-modal-container #logon-modal-content #logon-related-container input[type="password"] { height: 50px; width: 100%; color: var(--text-color); background: none; border: none; outline: none; font-size: 18px; margin-left: 10px; }

#logon-modal-container #logon-modal-content #logon-related-container ::-webkit-input-placeholder { color: var(--shadow-bg-color); font-size: 18px; font-weight: 100; }

#logon-modal-container #logon-modal-content #logon-related-container :-ms-input-placeholder { color: var(--shadow-bg-color); font-size: 18px; font-weight: 100; }

#logon-modal-container #logon-modal-content #logon-related-container ::-ms-input-placeholder { color: var(--shadow-bg-color); font-size: 18px; font-weight: 100; }

#logon-modal-container #logon-modal-content #logon-related-container ::placeholder { color: var(--shadow-bg-color); font-size: 18px; font-weight: 100; }

#logon-modal-container #logon-modal-content #logon-related-container .fa-user-circle, #logon-modal-container #logon-modal-content #logon-related-container .fa-lock, #logon-modal-container #logon-modal-content #logon-related-container .fa-signature { height: 32px; width: 32px; color: var(--shadow-bg-color); position: relative; top: 15%; left: 10px; }

#logon-modal-container #logon-modal-content #logon-related-container .submit-button { height: 50px; width: 90%; background: transparent; color: var(--text-color); outline: none; border: 0.4rem solid var(--accent-color); border-radius: 7.5px; font-family: 'Poppins', sans-serif; font-size: 1.8rem; font-weight: bold; cursor: pointer; -webkit-transition: background 0.5s, color 0.5s, border 0.5s; transition: background 0.5s, color 0.5s, border 0.5s; }

#logon-modal-container #logon-modal-content #logon-related-container .submit-button:hover { background: var(--accent-color-hover); color: var(--alt-bg-color); border: 0.4rem solid var(--accent-color-hover); -webkit-transition: background 0.5s, color 0.5s, border 0.5s; transition: background 0.5s, color 0.5s, border 0.5s; }

#logon-modal-container #logon-modal-content #logon-related-container #login-form { width: 100%; height: 100%; position: absolute; bottom: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding-left: 3.5rem; }

#logon-modal-container #logon-modal-content #logon-related-container #login-form #login { width: 100%; height: 60%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; }

#logon-modal-container #logon-modal-content #logon-related-container #login-form.hide { display: none; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form { width: 100%; height: 100%; display: none; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-line-pack: center; align-content: center; -ms-flex-pack: distribute; justify-content: space-around; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form .alt-option { width: 100%; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup { width: 100%; height: 70%; display: -ms-grid; display: grid; -ms-grid-columns: (auto)[2]; grid-template-columns: repeat(2, auto); -ms-grid-rows: (auto)[4]; grid-template-rows: repeat(4, auto); grid-gap: 10px; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup .centered { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup #avatar-related-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: relative; width: 75%; height: 100%; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup #avatar-related-container #file-input-container { width: 64px; height: 64px; outline: none; border-radius: 100%; border: 5px dashed var(--shadow-bg-color); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: relative; overflow: hidden; background: none; cursor: pointer; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup #avatar-related-container #file-input-container .fa-folder-plus { color: var(--shadow-bg-color); font-size: 24px; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup #avatar-related-container #file-input-container #avatar-file-input { height: 100%; width: 100%; position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup #avatar-related-container #file-input-container.hide { display: none; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup #avatar-related-container #avatar-preview-container { width: 50%; height: 100%; display: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup #avatar-related-container #avatar-preview-container #avatar-preview { width: 64px; height: 64px; border-radius: 100%; display: none; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup #avatar-related-container #avatar-preview-container #dismiss-avatar-button { bottom: 0; right: 0; display: none; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup #avatar-related-container #avatar-preview-container.show { display: -webkit-box; display: -ms-flexbox; display: flex; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup #avatar-related-container #avatar-preview-container.show #avatar-preview, #logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup #avatar-related-container #avatar-preview-container.show #dismiss-avatar-button { display: block; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup #avatar-related-container #avatar-label, #logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup #avatar-related-container #avatar-file-name { font-size: 1.7rem; font-family: 'Poppins', sans-serif; font-weight: bold; color: var(--shadow-bg-color); margin-top: 10px; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup #avatar-related-container #avatar-label.hide { display: none; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup #avatar-related-container #avatar-file-name { display: none; }

#logon-modal-container #logon-modal-content #logon-related-container #signup-form #signup #avatar-related-container #avatar-file-name.show { display: block; }

#logon-modal-container #logon-modal-content #logon-related-container .alt-option { width: 90%; height: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 10px; }

#logon-modal-container #logon-modal-content #logon-related-container .alt-option p, #logon-modal-container #logon-modal-content #logon-related-container .alt-option .alt-option-button { font-size: 1.65rem; font-family: 'Poppins', sans-serif; color: var(--text-color); text-align: center; }

#logon-modal-container #logon-modal-content #logon-related-container .alt-option .alt-option-button { outline: none; border: none; background: none; cursor: pointer; color: var(--accent-color); text-decoration: underline; }

#logon-modal-container #logon-modal-content #logon-related-container.signup { width: 90%; padding: 0; }

@media screen and (max-width: 960px) { #about-container { display: none !important; }
  #logon-related-container { width: 100% !important; }
  #logon-related-container #signup { -ms-grid-columns: (auto)[1] !important; grid-template-columns: repeat(1, auto) !important; -ms-grid-rows: (auto)[7] !important; grid-template-rows: repeat(7, auto) !important; }
  #logon-related-container.signup { width: 90% !important; } }

#theme-modal-container { position: relative; }

#theme-modal-container #theme-modal-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 100%; position: absolute; bottom: 0; left: 0; }

#theme-modal-container #theme-modal-content #themes-label { color: var(--text-color); font-size: 2rem; font-weight: 500; position: absolute; top: 10%; left: 5%; z-index: 1; }

#theme-modal-container #theme-modal-content #themes-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; width: 75%; height: 75%; }

#theme-modal-container #theme-modal-content #themes-container .theme { width: 100%; height: 30%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#theme-modal-container #theme-modal-content #themes-container .theme input[type="radio"] { display: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

#theme-modal-container #theme-modal-content #themes-container .theme label { position: relative; font-family: 'Poppins', sans-serif; font-size: 2em; font-weight: bold; border-radius: 5px; padding: 10px 50px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; cursor: pointer; min-width: 250px; -webkit-transition: background 0.5s, color 0.5s; transition: background 0.5s, color 0.5s; }

#theme-modal-container #theme-modal-content #themes-container .theme label::before { content: ""; width: 30px; height: 30px; border: 3px solid none; border-radius: 100%; margin-right: 20px; -webkit-transition: border 0.5s, width 0.5s, height 0.5s; transition: border 0.5s, width 0.5s, height 0.5s; }

#theme-modal-container #theme-modal-content #themes-container .theme #solar-label { color: #04d361; border: 3px solid #04d361; }

#theme-modal-container #theme-modal-content #themes-container .theme #solar-label::before { border: 3px solid #04d361; }

#theme-modal-container #theme-modal-content #themes-container .theme #moon-label { color: #0a98ff; border: 3px solid #0a98ff; }

#theme-modal-container #theme-modal-content #themes-container .theme #moon-label::before { border: 3px solid #0a98ff; }

#theme-modal-container #theme-modal-content #themes-container .theme #rocket-label { color: #8257e5; border: 3px solid #8257e5; }

#theme-modal-container #theme-modal-content #themes-container .theme #rocket-label::before { border: 3px solid #8257e5; }

#theme-modal-container #theme-modal-content #themes-container .theme #solar-theme:checked + #solar-label { background-color: #04d361; color: #041629; }

#theme-modal-container #theme-modal-content #themes-container .theme #moon-theme:checked + #moon-label { background-color: #0a98ff; color: #ffffff; }

#theme-modal-container #theme-modal-content #themes-container .theme #rocket-theme:checked + #rocket-label { background-color: #8257e5; color: #ffffff; }

#theme-modal-container #theme-modal-content #themes-container .theme #solar-theme:checked + #solar-label::before { width: 25px; height: 25px; background-color: #04d361; border: 7.5px solid #041629; }

#theme-modal-container #theme-modal-content #themes-container .theme #moon-theme:checked + #moon-label::before { width: 25px; height: 25px; background-color: #0a98ff; border: 7.5px solid #ffffff; }

#theme-modal-container #theme-modal-content #themes-container .theme #rocket-theme:checked + #rocket-label::before { width: 25px; height: 25px; background-color: #8257e5; border: 7.5px solid #ffffff; }

#theme-modal-container #theme-modal-content #themes-instructions { color: var(--modal-label-color); font-size: 2rem; font-weight: bold; width: 75%; text-align: center; }

#theme-modal-container #theme-modal-content #themes-instructions #red { color: #fe0100; }

#theme-modal-container #theme-modal-content #themes-instructions #orange { color: #dfa300; }

#theme-modal-container #theme-modal-content #themes-instructions #green { color: #01a800; }

#theme-modal-container #theme-modal-content #themes-instructions #blue { color: #1a6dda; }

#theme-modal-container #theme-modal-content #themes-instructions #fastlearn-label { height: 100%; all: unset; background: var(--accent-color); color: var(--text-color); -webkit-transition: background 0.5s, color 0.5s; transition: background 0.5s, color 0.5s; }

@media screen and (max-width: 960px) { #themes-label { top: 3.5% !important; } }

#create-post-modal-container { position: relative; }

#create-post-modal-container #create-post-modal-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 100%; position: absolute; bottom: 0; left: 0; }

#create-post-modal-container #create-post-modal-content #create-post-label { color: var(--text-color); font-size: 2rem; font-weight: 500; position: absolute; top: 10%; left: 5%; z-index: 1; }

#create-post-modal-container #create-post-modal-content #create-post-form { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#create-post-modal-container #create-post-modal-content #create-post-form #create-post { width: 80%; height: 70%; display: -ms-grid; display: grid; -ms-grid-columns: (auto)[2]; grid-template-columns: repeat(2, auto); -ms-grid-rows: (auto)[4]; grid-template-rows: repeat(4, auto); grid-gap: 10px; }

#create-post-modal-container #create-post-modal-content #create-post-form #create-post .centered { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#create-post-modal-container #create-post-modal-content #create-post-form #create-post #create-post-community { width: 350px; display: -webkit-box; display: -ms-flexbox; display: flex; font-family: 'Poppins', sans-serif; font-size: 1.7rem; font-weight: 500; }

#create-post-modal-container #create-post-modal-content #create-post-form #create-post #create-post-community #create-post-select-community { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; width: 100%; height: 100%; color: var(--shadow-bg-color); background: transparent; border: 3px solid var(--shadow-bg-color); border-radius: 7.5px; font-size: 18px; padding: 5px; }

#create-post-modal-container #create-post-modal-content #create-post-form #create-post #create-post-community #create-post-select-community #selected-community { border: none; outline: none; background: none; cursor: pointer; min-width: 300px; font-family: 'Poppins', sans-serif; font-size: 1.7rem; font-weight: 500; color: var(--text-color); }

#create-post-modal-container #create-post-modal-content #create-post-form #create-post #create-post-community #create-post-select-community #selected-community::-webkit-input-placeholder { font-family: 'Poppins', sans-serif; font-size: 1.7rem; font-weight: 500; color: var(--shadow-bg-color); }

#create-post-modal-container #create-post-modal-content #create-post-form #create-post #create-post-community #create-post-select-community #selected-community:-ms-input-placeholder { font-family: 'Poppins', sans-serif; font-size: 1.7rem; font-weight: 500; color: var(--shadow-bg-color); }

#create-post-modal-container #create-post-modal-content #create-post-form #create-post #create-post-community #create-post-select-community #selected-community::-ms-input-placeholder { font-family: 'Poppins', sans-serif; font-size: 1.7rem; font-weight: 500; color: var(--shadow-bg-color); }

#create-post-modal-container #create-post-modal-content #create-post-form #create-post #create-post-community #create-post-select-community #selected-community::placeholder { font-family: 'Poppins', sans-serif; font-size: 1.7rem; font-weight: 500; color: var(--shadow-bg-color); }

#create-post-modal-container #create-post-modal-content #create-post-form #create-post #create-post-community #create-post-communities-container { width: 100%; background: var(--shadow-bg-color); color: var(--text-color); border-radius: 10px; -webkit-transition: all 0.5s; transition: all 0.5s; overflow: hidden; -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; }

#create-post-modal-container #create-post-modal-content #create-post-form #create-post #create-post-community #create-post-select-community, #create-post-modal-container #create-post-modal-content #create-post-form #create-post #create-post-community #create-post-community-input { padding: 15px 30px; cursor: pointer; }

@media screen and (max-width: 960px) { #post { -ms-grid-columns: (auto)[1] !important; grid-template-columns: repeat(1, auto) !important; -ms-grid-rows: (auto)[7] !important; grid-template-rows: repeat(7, auto) !important; } }
/*# sourceMappingURL=modals.css.map */