<div id="logon-modal" class="modal">
  <div class="model-container" id="logon-modal-container">
    <button class="close-button" id="logon-close-button">
      &times;
    </button>
    <div class="modal-content">
      
      <div id="about-container">
  
      </div>
      <div id="logon-container">
          
      </div>
    </div>
  </div>
</div>