<div id="logon-modal" class="modal">
  <div class="modal-container" id="logon-modal-container">
    <button class="close-button" id="logon-close-button">
      &times;
    </button>
    <div id="logon-modal-content">
      <div id="about-container">
        <div id="logon-modal-logo-container">
          <img class="logo">
        </div>
      </div>
      <div class="modal-separator"></div>
      <div id="logon-related-container">
        <p id="logon-label">LOGON</p>
        <form id="login-form" class="logon-form">
          <div id="login">
            <p class="logon-instructions-label">Insira suas credenciais<br>para prosseguir.</p>
            <div class="text-input-container">
              <i class="fas fa-user-circle"></i>
              <input id="login-email" class="modal-input email-input" type="text" autocomplete="off" placeholder="Email" />
            </div>
            <div class="text-input-container">
              <i class="fas fa-lock"></i>
              <input id="login-password" class="modal-input password-input" type="password" autocomplete="off" placeholder="Senha" />
            </div>
            <button id="login-input" class="submit-button">LOGIN</button>
            <div class="alt-option">
              <p>
                Ainda não tem uma conta?
                <br>
                <button id="signup-option-button" class="alt-option-button">Cadastre-se!</button>
              </p>     
            </div>
          </div>
        </form>
        <form id="signup-form" class="logon-form" method="post" enctype="multipart/form-data">
          <!-- <p class="logon-instructions-label">Insira suas credenciais<br>para prosseguir.</p> -->
          <div id="signup">
            <div class="centered">
              <div class="text-input-container">
                <i class="fas fa-signature"></i>
                <input id="username" class="modal-input username-input" type="text" autocomplete="off" placeholder="Username" />
              </div>
            </div>
            <div class="centered">
              <div class="text-input-container">
                <i class="fas fa-user-circle"></i>
                <input id="signup-email" class="modal-input email-input" type="text" autocomplete="off" placeholder="Email" />
              </div>
            </div>
            <div class="centered">
              <div class="text-input-container">
                <i class="fas fa-lock"></i>
                <input id="signup-password" class="modal-input password-input" type="password" autocomplete="off" placeholder="Senha" />
              </div>
            </div>
            <div class="centered">
              <div class="text-input-container">
                <i class="fas fa-lock"></i>
                <input id="confirm-password" class="modal-input password-input" type="password" autocomplete="off" placeholder="Confirme sua senha" />
              </div>
            </div>
            <div class="centered">
              <div id="avatar-related-container">
                <div id="file-input-container">
                  <input id="avatar-file-input" class="file-input" type="file" accept="image/png, image/jpg, image/jpeg, image/bmp" />
                  <i class="fas fa-folder-plus"></i>
                </div>
                <div id="avatar-preview-container">
                  <img id="avatar-preview">
                  <button class="close-button" id="dismiss-avatar-button">
                    &times;
                  </button>
                </div>
                <p id="avatar-label">Selecione um avatar!</p>
                <span id="avatar-file-name"></span>
              </div>
            </div>
            <div class="centered">
              <button id="signup-input" class="submit-button">SIGN UP</button>
            </div>
          </div>
          <div class="alt-option">
            <p>
              Já tem uma conta?
              <br>
              <button id="login-option-button" class="alt-option-button">Faça login!</button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('../scripts/upload.ejs') %>