<div id="create-post-modal" class="modal">
  <div class="modal-container" id="create-post-modal-container">
    <button class="close-button" id="create-post-close-button">
      &times;
    </button>
    <div id="create-post-modal-content">
      <p id="create-post-label">Criar post</p>
      <form id="create-post-form" method="post" enctype="multipart/form-data">
        <div id="create-post">
          <div class="centered">
            <div id="create-post-community">
              <div id="create-post-select-community">
                <input type="text" id="selected-community" name="selected-community" placeholder="Selecione uma comunidade" readonly>
                <i class="fas fa-chevron-down"></i>
              </div>
              <div id="create-post-communities-container">
                <% if (communities != null) { %>
                  <% communities.forEach((community) => { %>
                    <div class="create-post-community">
                      <input type="radio" class="create-post-community-input" value="<%- community.id %>" name="community">
                      <label for="community"><%- community.name %></label>
                    </div>
                  <% }); %>
                <% } else { %>
                <% } %>
              </div>
            </div> 
          </div>
        </div>
      </form>
    </div>
  </div>
</div>