<div id="create-post-modal" class="modal">
  <div class="modal-container" id="create-post-modal-container">
    <button class="close-button" id="create-post-close-button">
      &times;
    </button>
    <div id="create-post-modal-content">
      <p id="create-post-label">Criar post</p>
      <form id="create-post-form" method="post" enctype="multipart/form-data">
        <div id="create-post">
          <div class="centered">
            <div id="select-input-container">
              <i class="fas fa-bezier-curve"></i>
              <select id="create-post-community" name="community">
                <% if (communities != null) { %>
                  <% communities.forEach((community) => { %>
                    <option class="create-post-community-option" value="<%- community.id %>"><%- community.name %></option>
                  <% }); %>
                <% } else { %>
                  <option class="create-post-community-option" value="null">No communities could be found.</option>
                <% } %>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>