<div id="post-modal" class="modal">
  <div class="modal-container" id="post-modal-container">
    <button class="close-button" id="post-close-button">
      &times;
    </button>
    <div id="post-modal-content">
      
    </div>
  </div>
</div>