<div id="post-modal" class="modal">
  <div class="modal-container" id="post-modal-container">
    <button class="close-button" id="post-close-button">
      &times;
    </button>
    <div id="post-modal-content">
      <p id="post-label">Post</p>
      <form id="post-form" class="logon-form" method="post" enctype="multipart/form-data">
        <div id="post">
          <div class="centered">
            <div class="text-input-container">
              <i class="fas fa-signature"></i>
              <input id="username" class="modal-text-input username-input" type="text" autocomplete="off" placeholder="Username" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>