<div id="theme-modal" class="modal">
  <div class="modal-container" id="theme-modal-container">
    <button class="close-button" id="theme-close-button">
      &times;
    </button>
    <div id="theme-modal-content">
      <p id="themes-label">TEMAS</p>
      <div id="themes-container">
        <div class="theme"></div>
        <div class="theme"></div>
        <div class="theme"></div>
      </div>
    </div>
  </div>
</div>