<div id="theme-modal" class="modal">
  <div class="modal-container" id="theme-modal-container">
    <button class="close-button" id="theme-close-button">
      &times;
    </button>
    <div id="theme-modal-content">
      <p id="themes-label">Temas</p>
      <div id="themes-container">
        <div class="theme">
          <input id="solar-theme" class="theme-option" type="radio" name="theme" value="solar">
          <label id="solar-label" for="solar-theme">Solar</label>
        </div>
        <div class="theme">
          <input id="moon-theme" class="theme-option" type="radio" name="theme" value="moon">
          <label id="moon-label" for="moon-theme">Moon</label>
        </div>
        <div class="theme">
          <input id="rocket-theme" class="theme-option" type="radio" name="theme" value="rocket">
          <label id="rocket-label" for="rocket-theme">Rocket</label>
        </div>
      </div>
      <p id="themes-instructions">Escolha um <span id="red">t</span><span id="orange">e</span><span id="green">m</span><span id="blue">a</span> para dar a sua cara ao <mark id="fastlearn-label">FastLearn!</mark></p>
    </div>
  </div>
</div>