@import '../global/global';
@import '../global/theme';
@import '../global/nav';
@import '../global/post';
@import 'header';

body {
  background: var(--bg-color);
}

#post-container {
  width: 70vw;

  position: absolute;
  bottom: 0;

  left: 15vh;
}