#container {
  width: 100%;
  height: 87.5vh;

  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  #user-communities-container {
    width: 15%;
    height: 100%;
  }

  #feed-container {
    background-color: var(--alt-bg-color);
    width: 70%;
    height: 100%;

    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    font-family: 'Poppins', sans-serif;

    overflow-y: scroll;
    
    scrollbar-width: none;

    #feed-label {
      color: var(--text-color);

      font-size: 2.2rem;
      font-weight: 600;

      margin-top: 5rem;
      margin-left: 7rem;
      margin-bottom: 5rem;
    }

    #post-container { 
      width: 100%;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .post {
        margin-bottom: 1rem;

        width: 90%;
        height: 15rem;
    
        border: .4rem solid var(--special-bg-color);
        border-radius: .5rem;

        display: flex;
        flex-direction: row;
        align-items: center;

        .post-thumbnail-container {
          width: 15%;
          height: 100%;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .post-thumbnail {
            border-radius: .5rem;

            width: 12rem;
            height: 12rem;
          }
        }

        .post-content {
          width: 50%;
          height: 10rem;

          display: flex;
          flex-direction: column;
          justify-content: center;
          
          .post-title {
            color: var(--text-color);
            
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 2.4rem;

            letter-spacing: .05rem;
          }

          .post-information {
            color: var(--alt-text-color);

            margin-top: 2rem;

            font-size: 1.4rem;

            .post-information-text {
              vertical-align: middle;

              font-weight: 500;

              a,
              a:visited {
                color: var(--text-color);
                transition: color 0.5s;

                text-decoration: none;
              }

              a:active,
              a:hover {
                color: var(--accent-color);
                transition: color 0.5s;

                text-decoration: none;
              }
            }

            .post-author-picture {
              vertical-align: middle;

              width: 3.2rem;
              height: 3.2rem;

              border-radius: 100%;

              margin-left: .5rem;
              margin-right: .5rem;
            }

            .post-author-username {
              color: var(--text-color);

              letter-spacing: 0.05rem;
              
              vertical-align: middle;
            }
          }
        }
        
        .post-comments {
          color: var(--alt-text-color);

          width: 25%;
          height: 100%;
          
          display: flex;
          flex-direction: column;
          justify-content: center;

          .fa-comment-alt {
            vertical-align: middle;

            font-size: 1.8rem;

            margin-right: .5rem;
          }

          .post-comments-text {
            font-size: 1.6rem;
          }
        }

        .post-votes {
          width: 15%;
          height: 100%;

          border-left: .4rem solid var(--special-bg-color);

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .post-votes-text { 
            color: var(--text-color);

            margin-top: 1rem;
            margin-bottom: 1rem;
          }

          button {
            width: 6rem;
            height: 3rem;

            outline: none;
            border: none;

            background: var(--vote-bg-color);
            border-radius: .5rem;

            transition: background 0.5s;

            box-shadow: var(--vote-bg-color) 0rem .2rem 1rem 0rem;
          }

          button:hover {
            cursor: pointer;

            background: var(--vote-bg-color-hover);
            transition: background 0.5s;
          }

          .fa-chevron-up {
            color: var(--accent-color);

            font-size: 2.4rem;
          }

          .fa-chevron-down {
            color: var(--accent-color);

            font-size: 2.4rem;
          }
        }
      }
    }
  }

  #feed-container::-webkit-scrollbar {
    display: none;
  }

  #daily-random-post-container {
    width: 15%;
    height: 100%;
  }
}

@media screen and (max-width: 960px) {
  #container {

    #user-communities-container,
    #daily-random-post-container {
      display: none !important;
    }

    #feed-container {
      #feed-label {  
        margin-top: 3rem;
        margin-left:3rem;
        margin-bottom: 3rem;
      }

      width: 100% !important;
      
      border-top-left-radius: 3rem;
      border-top-right-radius: 3rem;

      .post-comments,
      .post-votes {
        display: none !important;
      }

      .post-thumbnail-container {
        width: 150px !important;
      }
    }
  }
}