@import '../global/post';

#container {
  width: 100%;
  height: 87.5vh;

  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  #user-communities-container {
    width: 15%;
    height: 100%;
  }

  #feed-container {
    background-color: var(--alt-bg-color);
    width: 70%;
    height: 100%;

    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    font-family: 'Poppins', sans-serif;

    position: relative;

    #feed-label {
      color: var(--text-color);

      font-size: 2.2rem;
      font-weight: 500;

      margin-top: 5rem;
      margin-left: 7rem;
    }
  }

  #daily-random-post-container {
    width: 15%;
    height: 100%;
  }
}

@media screen and (max-width: 960px) {
  #container {
    #user-communities-container,
    #daily-random-post-container {
      display: none !important;
    }

    #feed-container {
      #feed-label {  
        margin-top: 3rem;
        margin-left:3rem;
        margin-bottom: 3rem;
      }
    }
  }
}