<!DOCTYPE html>
<html lang="pt-br">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FastLearn</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/home.css">

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/d67355562c.js" crossorigin="anonymous"></script>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" type="imagex/png" href="/images/favicon.ico">
</head>
<body>
  <%- include('./partials/nav.ejs') %>

  <div id="container">
    <%- include('./partials/sidebar.ejs') %>
    <div id="feed-container">
      <p id="feed-label">Feed</p>
      <%- include('./partials/post.ejs') %>
    </div>
    <div id="daily-random-post-container"></div>
  </div>

  <script src="/scripts/nav.js"></script>
  <script src="/scripts/theme.js"></script>
</body>
</html>