<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FastLearn</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/post.css" />
    <link rel="stylesheet" href="/css/modals.css" />

    <!-- Icons -->
    <script
      src="https://kit.fontawesome.com/d67355562c.js"
      crossorigin="anonymous"
    ></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div id="container">
      <%- include('./partials/sidebar.ejs')%>
      <div id="post-container">
        <div id="back">
          <a href="/"
            ><i class="fas fa-arrow-left"></i>
            <p>Voltar</p></a
          >
        </div>
        <div id="post">
          <h1 id="title">{ post.title }</h1>
          <div id="header">
            <div id="author">
              <img
                id="author-avatar"
                src="https://via.placeholder.com/1040x240"
              />
              <div id="data">
                <h2 id="author-username">
                  Postado por <span>{ post.author }</span>
                </h2>
                <h2 id="post-date">{ post.date }</h2>
              </div>
            </div>
            <div id="post-votes">
              <button id="up-vote-button">
                <i class="fas fa-chevron-up"></i>
              </button>
              <h3 id="post-votes-text">{ post.votes }</h3>
              <button id="down-vote-button">
                <i class="fas fa-chevron-down"></i>
              </button>
            </div>
          </div>
          <div id="content">
            <div id="post-image-container">
              <img id="post-image" src="https://via.placeholder.com/1040x240" />
            </div>
            <div id="text">
              <h3>{ post.text }</h3>
            </div>
          </div>
        </div>
      </div>
      <div id="daily-random-post-container"></div>
    </div>

    <%- include('./partials/modals/index.ejs') %>
    <script src="/scripts/nav.js"></script>
    <script src="/scripts/theme.js"></script>
    <script src="/scripts/modals/index.js"></script>
    <script src="/scripts/modals/logon/index.js"></script>
    <script src="/scripts/modals/logon/login.js"></script>
    <script src="/scripts/modals/logon/signup.js"></script>
    <script src="/scripts/modals/theme.js"></script>
    <script src="/scripts/modals/post.js"></script>
  </body>
</html>
