<!DOCTYPE html>
<html lang="pt-br">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FastLearn</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/home.css">

  <!-- Icons -->
  <script src="https://kit.fontawesome.com/d67355562c.js" crossorigin="anonymous"></script>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('./partials/nav.ejs') %>

  <!-- /////  -->

  <%- include('./partials/modals/index.ejs') %>
  <script src="/scripts/nav.js"></script>
  <script src="/scripts/theme.js"></script>
  <script src="/scripts/modals/index.js"></script>
  <script src="/scripts/modals/logon/index.js"></script>
  <script src="/scripts/modals/logon/login.js"></script>
  <script src="/scripts/modals/logon/signup.js"></script>
  <script src="/scripts/modals/theme.js"></script>
  <%- include('./partials/scripts/upload.ejs') %>
</body>
</html>