nav {
  background: var(--alt-bg-color);

  display: flex;
  flex-direction: row;

  width: 100%;
  height: 75px;

  #logo-container {
    width: 15%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    a, .logo {
      height: 100%;
    }
  }

  #nav-util-container {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: row;

    #feed-related-container {
      width: 40%;
      height: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      .fa-globe-americas,
      .fa-palette {
        font-size: 2.6rem;
      }

      .fa-globe-americas {
        color: var(--contrast-color);
      }

      .fa-chevron-down,
      .fa-chevron-up {
        font-size: 1.8rem;
        margin-left: .5rem;
      }

      .fa-chevron-up {
        display: none;
      }

      #feed-button {
        background: none;

        outline: none;
        border: none;

        transition: color 0.5s;
      }
      
      #feed-button:hover { 
        cursor: pointer;

        transition: color 0.5s;
        color: var(--contrast-color);
      }

      #theme-button {
        background: none;

        outline: none;
        border: none;

        color: var(--alt-text-color);
        transition: color 0.5s;
      }

      #theme-button:hover {
        color: var(--contrast-color);
        transition: color 0.5s;

        cursor: pointer;
      }
    }

    #search-container {
      background-color: var(--special-bg-color);
    
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    
      width: 35.0rem;
      height: 75%;

      min-width: 35.0rem;
    
      border-radius: 1rem;
    
      margin: auto;
        
      #search-input {
        font-family: 'Poppins', sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
  
        border: none;
        outline: none;
        
        background: none;
        color: var(--text-color);
        
        width: 70%;
        
        margin: auto;
        margin-left: 2rem;
      }

      ::placeholder {
        color: var(--alt-text-color);
      }

      #search-button {
        background: none;

        outline: none;
        border: none;

        color: var(--alt-text-color);
        transition: color 0.5s;
        
        .fa-search {
          font-size: 2.4rem;

          margin-left: 3rem;
        }
      }

      #search-button:hover {
        color: var(--contrast-color);
        transition: color 0.5s;

        cursor: pointer;
      }
    }
    
    #action-buttons-container {
      width: 40%;
      height: 100%;
      
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      button {
        border: none;
        outline: none;

        background: var(--accent-color);
        transition: background 0.5s;
        color: var(--alt-bg-color);
    
        font-family: 'Poppins', sans-serif;
        font-size: 1.8rem;
        font-weight: bold;
      
        border-radius: 1rem;
        
        letter-spacing: .1rem;

        height: 75%;
        width: 200px;

        cursor: pointer;
      }

      #create-post-button {
        // display: none;
      }

      #create-post-button:hover {
        background: var(--accent-color-hover);

        transition: background 0.5s;
      }

      #create-post-button.logged {
        display: block;
      }

      #logon-button {
        background: transparent;
        transition: background 0.5s, color 0.5s, border 0.5s;

        color: var(--text-color);

        border: .4rem solid var(--accent-color);

        cursor: pointer;
      }

      #logon-button:hover {
        background: var(--accent-color-hover);
        transition: background 0.5s, color 0.5s, border 0.5s;

        border: .4rem solid var(--accent-color-hover);
      }

      // #logon-button.logged
      #logon-button {
        display: none;
      }

      .fa-sign-in-alt {
        font-size: 26px;

        transition: color 0.5s;

        color: var(--text-color);
      }
    }
  }

  #user-related-container {
    width: 15%;
    height: 100%;

    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .user-picture {
      vertical-align: middle;

      width: 4.8rem;
      height: 4.8rem;

      border-radius: 100%;
    }
    
    .user-options-button {
      background: none;

      outline: none;
      border: none;

      .fa-chevron-down,
      .fa-chevron-up {
        font-size: 2.2rem;

        color: var(--alt-text-color);
        transition: color 0.5s;

        margin-left: 1rem;
      }

      .fa-chevron-up {
        display: none;
      }

      .fa-chevron-down:hover,
      .fa-chevron-up:hover {
        color: var(--contrast-color);
        transition: color 0.5s;

        cursor: pointer;
      }
    }
  }

  #mobile-menu-container {
    width: 40px;
    height: 50%;

    display: none;

    #mobile-menu {
      width: 40px;
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      cursor: pointer;

      .mobile-menu-line {
        width: 35px;
        height: 5px;

        border-radius: 5px;

        background: var(--alt-text-color);

        transition: 0.5s;
      }

      .mobile-menu-line:nth-child(2) {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    #nav-util-container {
      display: none;
    }

    #mobile-menu-container {
      display: block; 
    }

    #mobile-menu.active {
      width: 100% ;
      height: 100%;

      display: flex;
      flex-direction: row !important;
      align-items: center !important;
      justify-content: center !important;

      position: relative;

      .mobile-menu-line:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
      }

      .mobile-menu-line:nth-child(2) {
        opacity: 0 !important;
        transition: 0.5s;
      }

      .mobile-menu-line:nth-child(3) {
        
        transform: rotate(-45deg);
        position: absolute;
      }
    }
  }
}