<nav id="navbar">
  <div id="logo-container">
    <a href="/"><img class="logo"></a>
  </div>

  <div id="nav-util-container">
    <div id="feed-related-container">
      <button id="feed-button"><i class="fas fa-globe-americas"></i></button>
      <div>
        <button id="communities-button">
          <i class="fas fa-home"></i>
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-chevron-up"></i>
        </button>
      </div>
      <button id="theme-button"><i class="fas fa-palette"></i></button>
    </div>

    <div id="search-container">
      <button id="search-button"><i class="fas fa-search"></i></button>
      <input type="text" id="search-input" placeholder="Pesquise por comunidades">
    </div>

    <div id="action-buttons-container">
      <button id="create-post-button">POSTAR</button>
      <button id="logon-button"><i class="fas fa-sign-in-alt"></i></button>
    </div>
  </div>

  <div id="user-related-container">
    <img class="user-picture" src="https://via.placeholder.com/48">
    <button class="user-options-button"><i class="fas fa-chevron-down"></i></button>
    <button class="user-options-button"><i class="fas fa-chevron-up"></i></button>
  </div>
  
  <div id="mobile-menu-container">
    <div id="mobile-menu">
      <div class="mobile-menu-line"></div>
      <div class="mobile-menu-line"></div>
      <div class="mobile-menu-line"></div>
    </div>
  </div>
</nav>