<div id="sidebar">
  <h2>FAVORITOS</h2>
    <% communities.forEach((community, index) => { %>
        <% if (index < 7) { %>
          <div class="sidebar-community">
            <a href="/community/<%- community.name %>">
              <img src="<%- community.image %>">
              <h3>/<%- community.name %></h3>
            </a>
          </div>
        <% } %>
      <% }); %>
</div>
