#logon-modal-container {
  position: relative;

  #logon-modal-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    #about-container {
      width: 50%;
      height: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      #logon-modal-logo-container {
        width: 300px;
        height: 100px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    #logon-related-container {
      width: 50%;
      height: 70%;

      position: relative;

      #logon-label {
        color: var(--text-color);

        font-size: 2rem;
        font-weight: 500;

        margin-left: 3.5rem;
      }

      #login-form {
        width: 85%;
        height: 100%;

        position: absolute;
        bottom: 0;
        left: 0;

        margin-left: 3.5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        #login {
          width: 100%;
          height: 50%;

          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .text-input-container {
            height: 50px;
            width: 90%;
            
            color: var(--text-color);
            background: none;

            border: 3px solid var(--shadow-bg-color);
            border-radius: 7.5px;

            font-size: 18px;
            padding: 5px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            .fa-envelope,
            .fa-lock {
              height: 32px;
              width: 32px;

              color: var(--shadow-bg-color);

              position: relative;
              top: 15%;
              left: 10px;
            }

            input[type="text"],
            input[type="password"] {
              height: 50px;
              width: 100%;

              color: var(--text-color);

              background: none;
              border: none;
              outline: none;

              font-size: 18px;

              margin-left: 10px;
            }

            ::placeholder {
              color: var(--shadow-bg-color);

              font-size: 18px;
              font-weight: 100;
            }
          }

          .submit-button {
            height: 50px;
            width: 90%;

            border: none;
            outline: none;
            
            color: var(--text-color);
            background: var(--accent-color);

            border-radius: 7.5px;

            font-family: 'Poppins', sans-serif;
            font-size: 1.8rem;
            font-weight: bold;

            cursor: pointer;
            
            transition: background 0.5s;
          }

          .submit-button:hover {
            background: var(--accent-color-hover);

            transition: background 0.5s;
          }
        }
      }
    }
  }
}