#logon-modal-container {
  position: relative;

  #logon-modal-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    #about-container {
      width: 50%;
      height: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      #logon-modal-logo-container {
        width: 300px;
        height: 100px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    
    #about-container.hide {
      display: none;
    }

    #logon-related-container {
      width: 50%;
      height: 80%;

      position: relative;

      padding: 3.5rem;
      padding-bottom: 0;

      #logon-label {
        color: var(--text-color);

        font-size: 2rem;
        font-weight: 500;
      }

      .logon-instructions-label {
        color: var(--modal-label-color);

        font-size: 1.75rem;
        font-weight: bold;

        letter-spacing: 0.5px;
      }

      input[type="text"],
      input[type="password"] {
        height: 50px;
        width: 100%;

        color: var(--text-color);

        background: none;
        border: none;
        outline: none;

        font-size: 18px;

        margin-left: 10px;
      }

      ::placeholder {
        color: var(--shadow-bg-color);

        font-size: 18px;
        font-weight: 100;
      }

      .fa-user-circle,
      .fa-lock,
      .fa-signature {
        height: 32px;
        width: 32px;

        color: var(--shadow-bg-color);

        position: relative;
        top: 15%;
        left: 10px;
      }

      .submit-button {
        height: 50px;
        width: 90%;

        background: transparent;
        
        color: var(--text-color);
        
        outline: none;
        border: .4rem solid var(--accent-color);
        border-radius: 7.5px;
        
        font-family: 'Poppins', sans-serif;
        font-size: 1.8rem;
        font-weight: bold;
        
        cursor: pointer;

        transition: background 0.5s, color 0.5s, border 0.5s;
      }

      .submit-button:hover {
        background: var(--accent-color-hover);
        
        color: var(--alt-bg-color);
        
        border: .4rem solid var(--accent-color-hover);

        transition: background 0.5s, color 0.5s, border 0.5s;
      }

      #login-form {
        width: 100%;
        height: 100%;

        position: absolute;
        bottom: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        padding-left: 3.5rem;

        #login {
          width: 100%;
          height: 60%;

          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
      }

      #login-form.hide {
        display: none;
      }

      #signup-form {
        width: 100%;
        height: 100%;

        display: none;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;

        .alt-option {
          width: 100%;
        }

        #signup {
          width: 100%;
          height: 70%;

          display: grid;
          grid-template-columns: repeat(2, auto);
          grid-template-rows: repeat(4, auto);
          grid-gap: 10px;

          .centered {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
          }

          #avatar-related-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            position: relative;

            width: 75%;
            height: 100%;

            #file-input-container {
              width: 64px;
              height: 64px;
              
              outline: none;
              
              border-radius: 100%;
              border: 5px dashed var(--shadow-bg-color);

              display: flex;
              align-items: center;
              justify-content: center;

              position: relative;

              overflow: hidden;

              background: none;

              cursor: pointer;

              .fa-folder-plus {
                color: var(--shadow-bg-color);

                font-size: 24px;
              }

              #avatar-file-input {
                height: 100%;
                width: 100%;

                position: absolute;
                top: 0;
                left: 0;

                opacity: 0;

                cursor: pointer;
              }
            }

            #file-input-container.hide {
              display: none;
            }

            #avatar-preview-container {
              width: 50%;
              height: 100%;

              display: none;
              align-items: center;
              justify-content: center;

              #avatar-preview {
                width: 64px;
                height: 64px;

                border-radius: 100%;

                display: none;
              }

              #dismiss-avatar-button {
                bottom: 0;
                right: 0;

                display: none;
              }
            }

            #avatar-preview-container.show {
              display: flex;

              #avatar-preview,
              #dismiss-avatar-button {
                display: block;
              }
            }

            #avatar-label,
            #avatar-file-name {
              font-size: 1.7rem;
              font-family: 'Poppins', sans-serif;
              font-weight: bold;

              color: var(--shadow-bg-color);

              margin-top: 10px;
            }

            #avatar-label.hide {
              display: none;
            }

            #avatar-file-name {
              display: none;
            }

            #avatar-file-name.show {
              display: block;
            }
          }
        }
      }

      .alt-option {
        width: 90%;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 10px;

        p,
        .alt-option-button {
          font-size: 1.65rem;
          font-family: 'Poppins', sans-serif;

          color: var(--text-color);

          text-align: center;
        }

        .alt-option-button {
          outline: none;
          border: none;

          background: none;

          cursor: pointer;

          color: var(--accent-color);

          text-decoration: underline;
        }
      }
    }

    #logon-related-container.signup {
      width: 90%;

      padding: 0;
    }
  }
}

@media screen and (max-width: 960px) {
  #about-container {
    display: none !important;
  }
  #logon-related-container {
    width: 100% !important;

    #signup {
      grid-template-columns: repeat(1, auto) !important;
      grid-template-rows: repeat(7, auto) !important;
    }

    &.signup {
      width: 90% !important;
    }
  }
}