.modal {
  width: 100%;
  height: 100%;

  position: fixed;
  left: 0;
  top: 0;

  z-index: 1;

  overflow: hidden;

  background: #0009;

  display: none;
  justify-content: center;
  align-items: center;

  .modal-container {
    background: var(--alt-bg-color);

    border-radius: 20px;

    width: 768px;
    min-width: 300px;

    height: 648px;
    min-height: 150px;
    
    padding: 20px;

    position: relative;

    transition: background 0.5s, color 0.5s;

    .close-button {
      position: absolute;
      top: 3%;
      right: 3%;

      z-index: 10;

      background: none;
      border: none;
      outline: none;
      
      font-size: 36px;
      font-weight: bold;

      cursor: pointer;

      color: var(--shadow-bg-color);

      transition: color 0.5s;
    }

    .close-button:hover {
      color: #ee5555;

      transition: color 0.5s;
    }

    .modal-separator {
      width: 4px;
      height: 70%;

      border-radius: 5px;

      background: var(--shadow-bg-color);
    }

    .modal-separator.hide {
      display: none;
    }

    .text-input-container {
      height: 50px;
      width: 90%;

      color: var(--text-color);
      background: transparent;

      border: 3px solid var(--shadow-bg-color);
      border-radius: 7.5px;
      font-size: 18px;
      padding: 5px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      transition: border 0.5s;
    }
  }
}

.modal.show {
  display: flex;
}


@media screen and (max-width: 960px) {
  .modal-container {
    width: 95% !important;
    height: 80% !important;

    .modal-separator {
      display: none;
    }
  }
}